body{
    margin: 0;
}
.header{
    background-color: midnightblue;
    width: 100%;
    height: 100px;
    font-family: Pala;
}
.main{
    background-color:steelblue;
    width: 100%;
    height: 1000px;
}
.footer{
    background-color:midnightblue;
    height: 300px;
}